{% extends 'logistapp/base.html' %}
{% load static logistapp_filters %}
{% block content %}
    <div class="container">
    <span style="color: red">{{ error }}</span>
        {% if added_item %}
            <h3>Your postal item successfully registered</h3>
            Your postal item registered with #{{ added_item }}
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {% else %}
            <h3>Register new postal item</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Item name:</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="sender">Sender:</label>
                    <input type="text" name="sender" id="sender" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="post_office_from">From Post Office:</label>
                    <select name="post_office_from" id="post_office_from" class="form-control" required>
                        {% for item in stock_names %}
                            <option value="{{ item.index }}">{{ item.name }} ({{ item.address }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="recipient">Recipient:</label>
                    <input type="text" name="recipient" id="recipient" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="post_office_from">To Post Office:</label>
                    <select name="post_office_to" id="post_office_to" class="form-control" required>
                        {% for item in stock_names %}
                            <option value="{{ item.index }}">{{ item.name }} ({{ item.address }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="Weight">Weight:</label>
                    <input type="text" name="weight" id="weight" class="form-control" required>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        {% endif %}
    </div>
    <br>
{% endblock %}