{% load logistapp_filters %}

<table width="100%" class="table">
    <tr>
        <td>Item:</td>
        <td>{{ item.name }}</td>
    </tr>
    <tr>
        <td>From:</td>
        <td>{{ item.name_from }} ({{ item.address_from | get_stock_name }},
            index: {{ item.address_from | get_stock_address }})
        </td>
    </tr>
    <tr>
        <td>To:</td>
        <td>{{ item.name_to }} ({{ item.address_to | get_stock_name }}, index: {{ item.address_to | get_stock_address }}))</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>{{ item.weight }}</td>
    </tr>
    <tr>
        <td>Now at:</td>
        <td>{{ item.current_stock | get_stock_name }}, index: ({{ item.current_stock | get_stock_address }})</td>
    </tr>
    <tr>
        <td>Path:</td>
        <td>
            <ul>
                {% for path_item in path %}
                    <li>{{ path_item.name }} ({{ path_item.address }}): {{ path_item.time | get_date }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
{% if item.status == 'awaits' %}
    <form action="{% url 'confirm_delivery' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_pk" value="{{ item.pk }}">
        <button class="btn-primary btn">Confirm delivery</button>
    </form>
{% endif %}
